h1
{
    text-align: center;
    color: cornsilk;

}
body 
{
    background-color:  black;
    
}
h2{
    color: cyan;
    text-align: center;
}
#root
{
   color: burlywood;
   text-decoration: thistle;
   text-align: center;
   font-family: 'Times New Roman', Times, serif;
   font-size:20px;
}
button{
    background-color: darkblue;
    color:darkred;
    margin-top: 5%;
    font-size: 20px;
}
h6{
    font-size:20px;
    text-align: center;
    color:peru;
}